@model AdminStoriesModel
@{
    ViewData["Title"] = "AllStories";
}

<div class="container row">
    <div class=" container col-md-8">
        @foreach (var s in Model.Stories)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@s.Title</a>
                        </h4>
                        <h5>@s.Author</h5>
                        <h5>@s.Followers</h5>
                        <h5>@s.Rating</h5>
                        <h5>@s.Ratings.Count</h5>
                        <p class="card-text">@s.Summary</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@s.Type</small>
                        <small class="text-muted">@s.CreatedOn</small>
                        <small class="text-muted">@s.LastEditedOn</small>
                        <div>
                            delete details
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @await Html.PartialAsync("AdminStoryTypePartial", Model.Genres)
</div>
@section scripts{

    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
}