@model IEnumerable<UserAdminViewModel>
@{
    ViewData["Title"] = "AllUsers";
    int count = 0;
}

<div class="container  col-md-12 mt-5 ">

    <table class="table table-bordered table-striped table-hover" id="dataFromDb">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Username</th>
                <th scope="col" class="text-center">NickName</th>
                <th scope="col" class="text-center">Role</th>
                <th scope="col" class="text-center">Comments total</th>
                <th scope="col" class="text-center">Stories total</th>
                <th scope="col" class="text-center">Messages total</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {

                {
                    count++;
                }
                <tr>
                    <th scope="row" class="text-center">@count</th>
                    <td class="text-center">@m.Username</td>
                    <td class="text-center">@m.NickName</td>
                    <td class="text-center">@m.Role</td>
                    <td class="text-center">@m.Comments</td>
                    <td class="text-center">@m.Stories</td>
                    <td class="text-center">@m.Messages</td>
                    <td>
                        <div class=" d-flex justify-content-around ">
                            <a asp-action="ChangeRole" asp-controller="Admins" asp-area="Administration" asp-route-id="@m.Id" class="btn btn-info">Change Role</a>
                            <a asp-action="DeleteUser" asp-controller="Admins" asp-area="Administration" asp-route-id="@m.Id" class="btn btn-danger ">Delete</a>
                            <a asp-action="Details" asp-controller="Admins" asp-area="Administration" asp-route-id="@m.Id" class="btn btn-dark ">Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
