@using System.Security.Claims
@inject IUserService  service
@inject INotificationService notificationService
@inject IMessageService messageService
@{
    ViewData["Title"] = "LoggedHome";

    var model = this.service.GetHomeViewDetails();
    bool hasAnnouncement = model.Announcements.Any();
    int newNotifications = this.notificationService.NewNotifications(this.User.Identity.Name);
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    int newMessages = this.messageService.NewMessages(userId);
}

<div class="container d-flex justify-content-around col-md-12 col-sm-6 card-group" style="margin-top: 5em;">
    <div class="col-md-4" style="overflow: auto; margin-bottom: 20px">
        <div class="col-md-12 border border-dark">
            <div class=" card-header text-center text-dark  container-fluid">Last Published Stories</div>

            @foreach (var s in model.Stories)
            {
                <div class="card-body w-100">
                    <div class="container d-flex justify-content-between row mx-auto">
                        <h5 class="card-title">Title: @s.Title</h5>
                        <h6 class="card-subtitle text-muted">Published: @s.CreatedOn</h6>
                    </div>
                    <hr style="height: 2px" />
                    <div class="container d-flex justify-content-between row">
                        @if (s.Author == null)
                        {
                            <h6 class="card-title text-center">Author: @GlobalConstants.DeletedUser</h6>

                        }
                        else
                        {
                            <h6 class="card-title text-center">Author: @s.Author</h6>

                        }
                        <h6 class="card-subtitle text-muted">Genre: @s.StoryType</h6>
                    </div>
                    <hr />

                    @s.Summary

                    <hr />
                    <a asp-action="Details" asp-controller="Stories" asp-route-id="@s.Id" class="card-link">Go to Story</a>
                    <hr />
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 col-sm-12 border border-dark" style="min-height: 20em; min-width: 10em">
            <div class=" card-header text-center text-dark"> User options</div>
            <div class="card-body">
                <a asp-action="Profile" asp-controller="Users" asp-route-id="@this.User.Identity.Name" class="btn btn-info btn-block">My profile</a>
                <a asp-action="UserStories" id="MyStories" asp-controller="Stories" asp-route-username="@this.User.Identity.Name" class="btn btn-info btn-block">My Stories</a>
                <a asp-action="InfoHub" asp-controller="Messages" asp-route-username="@this.User.Identity.Name" class="btn btn-info btn-block">
                    My Messages
                    @if (newMessages > 0)
                    {
                        <span class="badge badge-danger">@newMessages</span>
                    }
                </a>
                <a asp-action="InfoHub" asp-controller="Messages" asp-route-username="@this.User.Identity.Name" class="btn btn-info btn-block">
                    My Notifications
                    @if (newNotifications > 0)
                    {
                        <span class="badge badge-danger">@newNotifications</span>
                    }
                </a>
                <a asp-action="BlockedUsers" asp-controller="Users" asp-route-id="@this.User.Identity.Name" class="btn btn-info btn-block">Blocked Users</a>
                <a asp-action="AllStories" asp-controller="Stories" class="btn btn-info btn-block">All Stories</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12  border border-dark" style="min-height: 20em; min-width: 10em">
            <div class=" card-header text-center text-dark" style="overflow:auto">Announcements</div>

            @if (hasAnnouncement)
            {

                foreach (var anounce in model.Announcements)
                {
                    <div class="card-body w-100">
                        <h5 class="card-title">@anounce.Author</h5>
                        <h6 class="card-subtitle text-muted">@anounce.PublishedOn</h6>
                        <hr />
                        <p class="card-text" style="word-wrap: break-word">@anounce.Content</p>
                        <hr style="height: 2px" />
                    </div>

                }
            }
            else
            {
                <p class="text-info">No current announcements</p>
            }
        </div>
    </div>
</div>
@section scripts{

    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
}