@model IEnumerable<CommentOutputModel>
@{

    int count = 0;
}

<div class="container  col-md-12  table-responsive">

    <table class="table table-bordered table-hover" id="dataFromDb4">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Message</th>
                <th scope="col" class="text-center">Date Received</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody class="text-white">
            @foreach (var m in Model)
            {

                {
                    count++;
                }
                <tr>
                    <th scope="row" class="text-center">@count</th>
                    <td class="text-center">@m.Message</td>
                    <td class="text-center">@m.CommentedOn</td>

                    <td>
                        <div class=" d-flex justify-content-around ">

                            <a asp-action="DeleteCommentFromInfoHub" asp-controller="Comments" asp-area="" asp-route-id="@m.Id" class="btn btn-dark ">Delete Comment</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="btn-group-justified">
        <a class="card-link text-dark" asp-action="DeleteAllComments" asp-controller="Comments" asp-area="" asp-route-username="@this.User.Identity.Name">Delete All Comments</a>
    </div>
</div>

@section scripts{

    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
    <script>
        $(document).ready(function () {
            $('#dataFromDb4').DataTable({ responsive: true });
        });
    </script>
}