@model UserOutputViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="row container d-flex col-md-12 mt-5 mb-5">

    <div class="col-md-8 border border-dark ml-1" style="overflow-y: auto; max-height:200px;">
        @if (Model.UserStories.Any())
        {
            foreach (var s in Model.UserStories)
            {
                <div class="col-md-8 mb-1" style="margin-bottom: 10em">
                    <div class="media">
                        <img class="align-self-start mt-1 mr-3 image-fluid" src="@s.ImageUrl" height="200" width="200" alt="Generic placeholder image">
                        <div class="media-body">
                            <h3 class="mt-0"> Story Title:@s.Title</h3>

                            <a asp-action="Details" asp-controller="Stories" asp-route-id="@s.Id" asp-area="" class="btn btn-link">Go to Story</a>
                            <h5>Summary:</h5>
                            <p>
                                @s.Summary
                            </p>
                        </div>
                    </div>
                </div>
                <hr style="height: 2px" />
            }
        }
        else
        {
            <h3 class="text-center">User has no written stories</h3>
        }
    </div>
    <div class=" col-md-4">
        <div class="col-md-12 ">

            <div class="panel panel-info ">
                <div class="panel-heading   ">
                    <h3 class="text-capitalize text-dark">User Details</h3>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class=" col-md-12 col-lg-12">
                            <table class="table  border border-dark" style="background-color:deepskyblue">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>@Model.Username</td>
                                    </tr>
                                    <tr>
                                        <td>Nickname:</td>
                                        <td>@Model.NickName</td>
                                    <tr>
                                        <td>Email:</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a class="btn btn-block btn-danger" asp-action="BlockUser" asp-controller="Users" asp-route-username="@Model.Username">Block User</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
}