@model UserOutputViewModel

@{
    ViewData["Title"] = "UserDetails";
}

<div class="row col-md-3" style="margin-top: 80px">
    <a class="btn btn-link" asp-area="" asp-controller="Users" asp-action="Profile" asp-route-seeProfile="true" asp-route-username="@Model.Username">See profile</a>
</div>
<div class="row container d-flex col-md-12 justify-content-around" style="margin-top: 20px; background-color:darkblue">
    <div class="col-md-2 mx-auto">
        <div class="panel-heading  justify-content-center ">
            <h4 class="text-capitalize text-center text-white">User Stories</h4>
        </div>
        <div class=" col-md-12 border border-dark">

            <ul class="list-group">
                @if (Model.UserStories.Any())
                {
                    foreach (var s in Model.UserStories)
                    {

                        <a asp-action="Details" asp-route-id="@s.Id" asp-controller="Stories" class="list-group-item list-group-item-action list-group-item-dark">@s.Title</a>
                    }
                }
                else
                {
                    <li class="list-group-item text-dark">User don't have own stories!</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-2 mx-auto ">
        <div class="panel-heading  justify-content-center ">
            <h4 class="text-capitalize text-center text-white">Followed Stories</h4>
        </div>
        <div class=" col-md-12 border border-dark">

            <ul class="list-group">
                @if (Model.FollowedStories.Any())
                {
                    foreach (var s in Model.FollowedStories)
                    {

                        <a asp-action="Details" asp-route-id="@s.Id" asp-controller="Stories" class="list-group-item list-group-item-action list-group-item-info">@s.Title</a>
                    }
                }
                else
                {
                    <li class="list-group-item text-Dark">User don't follow any stories!</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-4 mx-auto">

        <div class="panel-heading  justify-content-center ">
            <h4 class="text-capitalize text-center text-white">Statistics</h4>
        </div>
        <div class=" col-md-12 border border-dark">

            <ul class="list-group">
                <li class="list-group-item ">Notification Count: @Model.Notifications.Count</li>
                <li class="list-group-item ">Messages count: @Model.MessagesCount</li>
                <li class="list-group-item ">Comments count: @Model.Comments</li>
                <li class="list-group-item">Blocked by Count: @Model.BlockedBy</li>
                <li class="list-group-item ">Blocked Users Count: @Model.BlockedUsers</li>
            </ul>
        </div>
    </div>
    <div class=" col-md-4 mx-auto">
        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0">

            <div class="panel panel-info ">
                <div class="panel-heading offset-5">
                    <h3 class="text-capitalize text-white">User Details</h3>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class=" col-md-9 col-lg-9 offset-3">
                            <table class="table  border border-dark" style="background-color:deepskyblue">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>@Model.Username</td>
                                    </tr>
                                    <tr>
                                        <td>Nickname:</td>
                                        <td>@Model.NickName</td>
                                    </tr>
                                    <tr>
                                        <td>Id:</td>
                                        <td>@Model.Id</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>User role:</td>
                                        <td>@Model.Role</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
}